# dependencies
node_modules/

# next.js
.next/
out/

# logs
*.log
dev-server*.log
prod-server*.log
task-dev-server*.log

# environment variables
.env
.env.local
.env.production

# netlify
.netlify

# OS files
.DS_Store
Thumbs.db

# TypeScript incremental build
tsconfig.tsbuildinfo
